<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestión de Recetas</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Gestión de Recetas</h1>

    <button onclick="location.href='/recetas/nueva'">Alta de receta</button>
    <button onclick="location.href='/recetas/eliminar'">Baja de receta</button>
    <button onclick="location.href='/recetas/listar'">Listar recetas</button>
    <button onclick="location.href='/recetas/modificar'">Modificar receta</button>
</body>
</html>
